<div class="pull-right">
  <%= link_to_unless_current image_tag("/lang_en.png"), locale: "en" %>
  <%= link_to_unless_current image_tag("/lang_nb.png"), locale: "nb" %>
  <%= link_to_unless_current image_tag("/lang_es.png"), locale: "es" %>
</div>
